<div class="card-item col">
  {%- if project.redirect -%}
  <a href="{{ project.redirect }}" data-analytics-event="project_card_click" data-link-type="card" data-project="{{ project.title | escape }}">
  {%- else -%}
  <a href="{{ project.url | relative_url }}" data-analytics-event="project_card_click" data-link-type="card" data-project="{{ project.title | escape }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if project.img -%}
        <div class="card-img col-md-6">
          {% include figure.html
            path=project.img
            alt="project thumbnail"
            class="project-thumb-img"
            figure_class="project-thumb-figure" %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title text-lowercase">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
            {%- if project.github or project.demo -%}
            <div class="row ml-1 mr-1 p-0 project-links">
              {%- if project.demo -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Live Demo">
                  <a href="{{ project.demo }}" data-analytics-event="project_demo_click" data-link-type="demo" data-project="{{ project.title | escape }}"><i class="fas fa-external-link-alt gh-icon"></i></a>
                </div>
              </div>
              {%- endif -%}
              {%- if project.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}" data-analytics-event="project_github_click" data-link-type="github" data-project="{{ project.title | escape }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if project.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
